{% extends 'base.html.twig' %}

{% block page_title %}<h2>New Question</h2>{% endblock %}

{% block content %}
    <div class="content-wrapper">
        {{ include('question/_form.html.twig') }}
    </div>
{% endblock %}
