{% extends 'base.html.twig' %}

{% block page_title %}
<h2>Hi. How was your day?</h2>
{% endblock %}

{% block action %}
<li>
    <a href="#" class="button big">New Entry</a>
</li>
{% endblock %}

{% block content %}
<section id="main_" class="wrapper">
    <div class="container">
        <header class="major">
            <h2>Test Home</h2>
            <p>Recorded by AC</p>
        </header>

    </div>
</section>
{% endblock %}
