{% extends 'base.html.twig' %}

{% block page_title %}
    {% if app.user %}
        <h2>Hi {{ app.user.firstname }}. How was your day?</h2>
    {% endif %}
{% endblock %}

{% block action %}
    {% if app.user %}
        <li>
            <a href="{{ path('entry_new') }}" class="button big">New Entry</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
<section id="main_" class="wrapper">
    <div class="container">
        <header class="major">
            <h2>Test Home</h2>
            <p>Recorded by AC</p>
        </header>

    </div>
</section>
{% endblock %}

